---
layout: default
title: Tiny Howling Mountain Farm!
---
<div class="blurb">
	<h1>Tiny Howling Mountain Farm</h1>
	
	<p> Welcome!</p>
	
	<p> We have a tiny farm in Easthampton, MA. Seriously Tiny, and somewhat mighty. At approximately 1/4 acre we aim to grow a variety of vegetables and flowers. Also, we enjoy a modest blacksmithing shop at our home.  More importantly, most days include mild and wild trips to other farms and workshops.</p>
	
	<p><a href="/about">Please feel welcome to read more about our lil' homestead, click here...</a></p>
{% include image.html url="/images//Home.jpeg
" description="The Tiny Garden, Spring 2023" %}
	{% include image.html url="/images/logo.png" description="" %}
</div><!-- /.blurb -->
